USE [PROVISIODB]
GO
/****** Object:  Table [dbo].[ClientSecurity]    Script Date: 11/27/2019 3:26:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientSecurity](
	[EntryID] [int] IDENTITY(1,1) NOT NULL,
	[DateCreated] [date] NOT NULL,
	[ClientApiKey] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ApiClientName] [varchar](100) NOT NULL,
	[ExpirationDate] [date] NULL,
 CONSTRAINT [PK_APIUserKeys] PRIMARY KEY CLUSTERED 
(
	[EntryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loan_Outstanding_3]    Script Date: 11/27/2019 3:26:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loan_Outstanding_3](
	[EntryID] [int] IDENTITY(1,1) NOT NULL,
	[Account_Number] [varchar](50) NOT NULL,
	[Account_Name] [varchar](50) NOT NULL,
	[Balance] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Loan_Outstanding_3] PRIMARY KEY CLUSTERED 
(
	[Account_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClientSecurity] ADD  CONSTRAINT [DF_ClientAPIKeys_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[ClientSecurity] ADD  CONSTRAINT [DF_ClientAPIKeys_APIKEY]  DEFAULT (newid()) FOR [ClientApiKey]
GO
ALTER TABLE [dbo].[ClientSecurity] ADD  CONSTRAINT [DF_ClientAPIKeys_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ClientSecurity] ADD  CONSTRAINT [DF_ClientSecurity_ExpirationDate]  DEFAULT (getdate()+(1)) FOR [ExpirationDate]
GO
/****** Object:  StoredProcedure [dbo].[usp_AuthenticateKey]    Script Date: 11/27/2019 3:26:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/

create proc [dbo].[usp_AuthenticateKey]
@apikey varchar(max)
as

SELECT  [EntryID]
      ,[DateCreated]
      ,[ClientApiKey]
      ,[IsActive]
      ,[ApiClientName]
      ,[ExpirationDate]
  FROM [dbo].[ClientSecurity]
  WHERE ClientApiKey =@apikey
GO
/****** Object:  StoredProcedure [dbo].[usp_Get_LoanOutStandingBalance]    Script Date: 11/27/2019 3:26:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Script for SelectTopNRows command from SSMS  ******/
create proc [dbo].[usp_Get_LoanOutStandingBalance]
@accountnumber varchar(50)
as
SELECT
		[Account_Number]
      ,[Account_Name]
      ,[Balance]
  FROM [dbo].[Loan_Outstanding_3]
  WHERE Account_Number=@accountnumber
GO
